@font-face {
    font-family: gilroy-regular;
    src: url(fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: gilroy-light;
    src: url(fonts/Gilroy-Light.ttf);
}
@font-face {
    font-family: gilroy-medium;
    src: url(fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: gilroy-heavy;
    src: url(fonts/Gilroy-Heavy.ttf);
}
