body{
  /* background-color: #F7F7F7; */
  background: #f7f7f7;
}

.navspan{

    left: 20%;
    width: 16%;

}


.work-main{
  background-color: #F7F7F7;


}
.work-heading{

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
/* border: 1px solid red; */
}
.large-heading{
  font-family: 'gilroy-medium', sans-serif;
  font-size: 25rem;
  font-weight: 600;
  background: linear-gradient(180deg, #F7F7F7 19.82%, #000 354.04%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border: 1px solid red; */
  text-align: center;
  line-height: 1


}


.small-heading{
    font-size: 74px;
    font-weight: 400;
    margin: 56px 0 0 0;
    /* border: 1px solid red; */
}


.mobile-heading{
  display: none;
}
.work-heading p{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.27;
    font-family: 'gilroy-light', sans-serif;
    /* border: 1px solid red; */
    /* margin: 56px 0 0 0; */

}


.bottom-line {
    width: 120px;
    height: 1px;
    background-color: #000000;
    /* border: 1px solid red; */


    
}
.work-projects{
    width: 100%;
        /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}
.p-btn{

 display: flex;
 justify-content: center;
 gap: 2rem;
 margin-top: 2rem;
 


}
.project-cards{
  width: 100%;
  max-width: 1400px;
  margin: 3rem auto;
  padding: 20px;
  box-sizing: border-box;
    /* border: 1px solid red; */



}
.proj-card-row{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;

}
.project-link {
  /* flex: 0 0 calc(50% - 10px);  */
  position: relative;
  box-sizing: border-box;

  overflow: hidden;
  background: #f7f7f7;
  transition: all 0.3s ease;

  height: auto;
}
.project-link img {
  width: 100%;
  height: auto;
  display: block;
  /* border-radius: 2rem; */
/* filter: drop-shadow(-6px -6px 20.2px #FFF) drop-shadow(6px 6px 6px rgba(142, 149, 160, 0.50));
backdrop-filter: blur(2px); */

/* border: 1px solid red; */


}


.project-link-btn{
  position: absolute;
  right: 0;
  bottom: 30px;
  
}
.roundbtn{
  height: 103px;
  width: 103px;



}
.roundbtn img{
  height: 2rem;


}
.project-link p{
    
  font-size: 34px;
  font-weight: 400;
  padding: 16px 14px;
  font-family: 'gilroy-medium', sans-serif;

}






/* ✅ Responsive: 1 card per row on mobile */
@media (max-width: 768px) {

  .navspan{

    left: 18%;
    width: 18%;

}

  .project-link {
    flex: 0 0 100%;
  }
  .project-cards{
  width: 100%;



}

  .roundbtn {
    height: 55px;
    width: 55px;
  }

.roundbtn img{
  height: 1rem;


}
.project-link-btn{

  right: 0;
  bottom:32px;
  

  
}

  .project-link p {
    font-size: 18px;
  }
  .work-heading h1{
    font-size: 3rem;
    font-weight: 400;
    margin: 3rem 0 0 0;

}
.work-heading p{
    font-size: 1.4rem;
    margin: 2rem 0 0 0;

}
.large-heading{
  display: none;
}
.mobile-heading{
  display: block;
}

}
