
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'gilroy-regular', sans-serif;
    -webkit-tap-highlight-color: transparent; /* iOS & Android */
 
}

body{
  background: url(assets/home-grid-img.webp);
    user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}
img {
  pointer-events: none;
  -webkit-user-drag: none; /* Safari */
}








.navbar {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  /* margin: 2rem auto; */
  width: 80%;
  flex-wrap: wrap;

  /* Glassmorphism styles */
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

  border-radius: 50px;
}

.navbar {
  position: sticky;
  left: 10%;
  top: 10px;
  z-index: 10;
}



.logo {
  width: 160px;

}
.logo_mobile{

  display: none;
}


.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  height: 50px;
  width: auto;
  font-weight: 600;
  background-color: #1B1D1E14;
  /* gap: 50px; */
  border-radius: 30px;
  flex-wrap: wrap;
  position: relative;
  
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  /* background-color: #FFFFFF; */
    padding: 8px 35px;
    /* height: 38px; */
    border-radius: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}






.CTA_button {
  background: black;
  color: white;
  padding: .5rem .1rem .5rem 1rem;
  border: none;
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  width: 190px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* gap: 5px; */
}
.btmlink{
    color: #fff;
    text-decoration: none;
}
.arrow_icon{
height: 2rem;
width: 2rem;
background-color: #fff;
border-radius: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.navspan{
position: absolute;
width: 15%;
height: 40px;
background-color: #fff;
top: 1;
left: 1%;
border-radius: 30px;
transition: 0.25s ease-in-out;
}
.nav-links a:nth-child(1):hover~span{
    width: 15%;
    left: 1%;
}
.nav-links a:nth-child(2):hover~span{
    left: 16.5%;
    width: 13%;

    
}
.nav-links a:nth-child(3):hover~span{
 left: 31%;
 width: 16%;

}
.nav-links a:nth-child(4):hover~span{
 left: 49%;
 width: 15%;
   
    

}
.nav-links a:nth-child(5):hover~span{
 left: 66%;
 width: 15%;
    

}
.nav-links a:nth-child(6):hover~span{
 left: 81%;
 width: 18%;
    

}


/* Hero Section */

.main{

    display: flex;
    flex-direction: column;
    width: 100%;


}
.hero {
  max-width: 100%;
  width: 65%;
  margin: 0 auto;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  


}
.on-mobile{
  display: none;
}
.hero-title {
    font-family: 'gilroy-bold', sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1rem;
  letter-spacing: -6px;
  
}

.sub-line {
  font-family: 'gilroy-bold', sans-serif;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.bold-text {
    font-family: 'gilroy-bold', sans-serif;

  
}

.fancy-text {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-size: 90px;
  font-weight: normal;
  margin-left: 30px;
}

.features {

  display: flex;
  /* flex-direction: column; */
  gap: 6rem;
  font-weight: 200;
  font-size: 25px;
  margin: 2rem 0;
}

.features p{
font-family: 'gilroy-medium', sans-serif;
text-align: center;
font-weight: 400;
font-size: 20px;
padding: 18px;
/* border:1px solid red; */

background: rgba(255, 255, 255, 0.02); /* translucent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(22px); /* Safari */
  /* border: .5px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px;

}

.description {
  font-family: 'gilroy-light', sans-serif;
  text-align: center;
  max-width: auto;
  margin: 0 auto;
  font-size: 22px;
  color: #1B1D1ECC;
  margin-bottom: 2rem;
}



.logo-strip {
 
  padding: 4rem 6rem;
  position: relative;
  overflow: hidden;
  background-color: #fff;

}

.logo-container {
 width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.logo-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.logo-strip::before,
.logo-strip::after {
  content: "";
  position: absolute;
  top: 0;
  width: 450px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.logo-strip::before {
  left: 0;
  background: linear-gradient(to right, white 0%, transparent 100%);
}

.logo-strip::after {
  right: 0;
  background: linear-gradient(to left, white 0%, transparent 100%);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.logo-track {
  display: flex;
  gap: 80px;
  animation: scroll 30s linear infinite;
  width: max-content;
}




.services{
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
  background-color: #F7F7F7;
   
}
.serv-txt{
  width: 50%;
  text-align: center;
}
.serv-txt h1{
  /* padding: 20px; */
  margin-bottom: 20px;
  font-size: 54px;
  color: #1D1D1D;

}
.serv-txt p{

  font-size: 24px;
  color: #727272;
  line-height: 1.6;
}
.serv-card{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card{
 width: 362px;

 cursor: pointer;
 /* border: 1px solid red; */
}


.imgbtn{
position: relative;
}

.roundbtn{
  height: 85px;
  width: 85px;
  background-color: #1D1D1D;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;

}
.roundbtnpos{
  position: absolute;
  top: 0;
  right: 0;
}
.roundbtn img{
  width: 18px;
  
}
.roundbtn:hover img{
    transform: translateX(5px); /* move arrow forward */
  animation: runArrow 0.6s infinite ease-in-out;
}

@keyframes runArrow {
  0% { transform: translate(0, 0); }
  50% { transform: translate(6px, -6px); }
  100% { transform: translate(0, 0); }
}
.card-txt{
margin-top: 30px;
/* border: 1px solid red; */
}
.card3-txt{
margin-top: 0;
}

.card-txt h2{
font-family: 'gilroy-medium', sans-serif;
font-size: 30px;
margin-bottom: 16px;
color: #1d1d1d;
font-weight: 400;



}

.card-txt p{
font-family: 'gilroy-regular', sans-serif;
line-height: 1.6;
font-size: 18px;
color: #727272;
font-weight: 400;
}
.card3-txt p{
margin-bottom: 30px;
}


.card-wraper{

 height: 616px;
 display: flex;
 align-items: end;
 /* border: 1px solid rgb(0, 0, 0); */
}


.projects{
  width: 100%;
  display: flex;

  /* border: 1px solid red; */
  justify-content: center;
  
  background-color: #F7F7F7;
}
.project-text{
  width: 100%;
  display: flex;
  padding: 5% 0;
  /* border: 1px solid red; */

  
}
.projet-container{
  width: 88%;
  height: auto;
  /* border: 1px solid red; */

}
.p-txt{
  width: 40%;
  /* border: 1px solid red; */

}

.p-txt h1{
  font-size: 54px;
    color: #1D1D1D;

}
.p-btn{
width: 100%;
 display: flex;
 justify-content: end;
 gap: 24px;
 /* border: 1px solid red; */

}
.p-btnwraper{
  width: 60%;
 display: flex;
 align-self: center;
 justify-content: end;
}

.button1{
  font-size: 16px;
  padding: 10px 30px;
  border: 1px solid #000;
  border-radius: 57px;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
}
.button1 a{
  text-decoration: none;  
    color: #fff;
}

.btn-arrow{
  margin: 0  0 0 5px;
}
.activebutton{
  background-color: #000;
  color: #fff;
}






.project-cards{
  width: 100%;
  height: auto;
    /* padding: 20px; */
    box-sizing: border-box;
      /* border: 1px solid red; */



}
.proj-card-row{
    width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 5rem 0;
  /* border: 1px solid red; */
  flex-wrap: wrap;



}
.project-link{
  height: auto;
  /* width: 100%; */
  position: relative;

}
.project-link {
  transition: all 0.4s ease;
}

.project-link-btn{
  position: absolute;
  right: 0;
  bottom: 0;
    /* border: 1px solid red; */

}

.project-link p{
  font-size: 24px;
  padding: 12px 14px;
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  color: #1D1D1D;

    /* border: 1px solid red; */

}


.work{
  width: 100%;
  display: flex;

  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #F7F7F7;
}
.work-wraper{
  width: 88%;
  height: auto;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 10%; */
  gap: 34px;
  margin: 3rem 0;
}
.hide-on-pc{
  display: none;
}
.work-wraper-left{
  
  position: relative;
  /* border: 1px solid green; */
}
.work-btn{
  position: absolute;
  top: 10px;
  left: 13%;
  padding: 10px 40px;
}
.work-wraper-right{
  width: 50%;
  /* border: 1px solid green;/ */
  

}
.design-serv-h1-mobile{
  display: none;
}
.work-wraper-right h1{
font-family: 'gilroy-medium', sans-serif;
font-size: 54px;
line-height: 1.27;
font-weight: 400;
padding-bottom: 14px;
  color: #1D1D1D;
}
.line{
  height: 3px;
  width: 100%;
  background-color: #E1E1E1;
  margin: 54px 0;

}
.icon-text-box{
    /* border: 1px solid green; */
    display: flex;

    align-items: center;
    gap: 20px;
    margin: 0 0 40px 0 ;

  
}

.icon-txt-icon{
  height: 83px;
  width: 83px;
  background-color: #1D1D1D;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.icon-txt-icon2{
  background-color: #ffffff;
  border: 1px solid #1d1d1d;
}
.icon-text-box-text{
    /* border: 1px solid green; */
    width: 70%;


}
.icon-text-box-text h2{
  font-family: 'gilroy-bold', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 30px;
  color: #1D1D1D;
}
.icon-text-box-text p{
  font-family: 'gilroy-regular', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 20px;
  color: #1D1D1D;
}
.work-btn2{
  margin-top: 24px;
}






.section{
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  
  background-color: #F7F7F7;
}
.customerh1{
  /* width:0%; */
  text-align: center;
    color: #1D1D1D;
    font-size: 48px;
}
.container{
  /* border: 1px solid red; */
 margin: 66px 0;
}
.customer-container{
  width: 88%;
}
.customer-card-wraper{  
  /* border: 1px solid red; */
  margin: 70px auto;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.cutomer-card{
  
  height: 480px;
  border-radius: 50px;
  padding: 32px;
  /* width: 70%; */
  position: relative;
  
}


.ccard1{
  background: url('/assets/customstories.webp ') center/cover no-repeat;
  color: white;
  grid-column: span 2;
  width: 65%;
  
}
.ccard2{
width: 32%;
background-color: #F6E683 ;


}
.tag-text{
position: absolute;
font-size: 15px;
color: #ffffff;
opacity: 50%;



}
.desc{
  position: absolute;
  bottom: 100px;
  font-size: 24px;
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  width: 80%;


}
.author{
  position: absolute;
  bottom: 32px;

  font-size: 16px;
  line-height: 22px;
  font-family: 'gilroy-regular', sans-serif;


}
.author span{
font-size: 15px;
color: #ffffff65;
}




.ccard2 .tag-text{
  color: #1B1D1E;
  opacity: 50%;
}
.ccard2 .desc{
  font-size: 48px;
  font-weight: 600;
  
}

.ccard2 .author{
  width: 70%;
  color: #1B1D1E;
  font-size: 24px;
  line-height: 29px;
}



.ccard3{
  width: 32%;
  background-color: #1B1D1E;
  display: flex;
  flex-direction: column;
}
.ccard3 .desc{
  font-size: 24px;
  font-weight: 400;
  top: 64px;
  color: #ffff;
  
  
}
.ccard3 img{
  height: 60%;
  width: 100%;
  /* position: absolute; */
  border-radius: 8px;
  margin-top: 175px;

  
}

.ccard4{
  width: 65%;
  background-color: #1B1D1E0D;
}
.ccard4 .tag-text{
  color:#1B1D1E;
  opacity: 50%;
}
.ccard4 .desc{
  font-size: 24px;
  font-weight: 400;
  top: 78px;
  color: #1B1D1E;
  
  
}
.ccard4 .author span{
font-size: 15px;
color: #1B1D1E99;
}




.testimonial{
  background-color:#F3FBFF ;  
}
.testimonial-container{
  /* border: 1px solid red; */
  width: 88%;
  margin: 6px 0;
  
}

.testimonials {
  padding: 40px 20px;
  max-width: 100%;
  margin: auto;
  
}

.testimonial-header {
  width: 100%;

}



.section-title {
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  margin:  0 0 60px 0;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 54px;
  color: #1D1D1D;

}



.testimonial-controls button {
  background: none;
  border: none;
  font-size: 18px;
  padding: 6px 12px;
  margin: 0 10px;
  border-radius: 60%;
  cursor: pointer;
  transition: background 0.2s;
}

.testimonial-controls button:hover {
  background: #eee;
}
.testimonial-controls.bottom {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}


.testimonial-carousel {
  position: relative;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  padding-top: 20px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
  /* border: 1px solid red; */
}

.testimonial-carousel::-webkit-scrollbar {
  display: none; /* Chrome */

}


/* .testimonial-carousel::before,
.testimonial-carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 1;
  pointer-events: none;


}

.testimonial-carousel::before {
  left: 0;
  background: linear-gradient(to right, #F3FBFF 0%, transparent 100%);
}

.testimonial-carousel:after {
  right: 0;
  background: linear-gradient(to left, #F3FBFF 0%, transparent 100%);
} */

.testimonial-card {
  width: 500px;
  padding: 40px 30px;
  color: rgb(255, 255, 255);
  border-radius: 16px;
  flex-shrink: 0;
background: url('/assets/pricing-card-bg.png') no-repeat center center;
  background-size: cover; /* makes the image cover the whole container */

}


.testimonial-card p {
   font-family: 'gilroy-regular', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: auto 0;

}

.author-box{
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0 0 0;

}
.client-profile{
  display: flex;
  align-items: center;
  justify-content: start;

}
.client-profile-img{
  width: 65px;
}
.profile-text p{
  font-size: 18px;
  padding: 0 1rem;
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;

  color: rgb(255, 255, 255);
}
.profile-text p:nth-child(2){
  font-family: 'gilroy-regular', sans-serif;
  font-size: 16px;
}
.semicolon{
  width: 60px;
}


.faq-container{
  width: 88%;
margin: 120px 0;
}

.faq-container h1 {
  text-align: center;
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  letter-spacing: -3px;
  font-size: 48px;
    margin-bottom: 81px;


}
.faq-container h1 span {
  text-align: center;

  font-family: 'gilroy-light', sans-serif;
  
  
}
.faq{

  /* border: 1px solid red; */
  width: 100%;
}

.faq-item {
  border: 1px solid  #1B1D1E26;
  border-radius: 12px;
  padding: 24px 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  transition: all 0.5s ease;
  cursor: pointer;
}

.faq-question {
    font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.faq-answer {
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1B1D1EA6;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  line-height: 28px;
  margin-top: 0;
  
}

.faq-item.active .faq-answer {
  max-height: 500px; /* Adjust based on expected content size */
  opacity: 1;
  margin-top: 0.75rem;
  
}

.faq-item .icon {
  font-size: 32px;
    font-family: 'gilroy-light', sans-serif;
  font-weight: 400;
  margin-left: 1rem;
  transition: transform 0.5s ease;
}

.faq-item.active .icon {
  transform: rotate(90deg);
}

.footer-corner-fix{
background: #F7F7F7;

}
.lets-build-sec{
  padding: 4rem 0;
/* background: linear-gradient(90deg, rgba(186, 243, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 50.48%, rgba(166, 239, 254, 0.50) 100%); */

}
.lets-build-container{
  border-radius: 1.5rem;
  background: linear-gradient(83deg, rgba(217, 243, 252, 0.81) 11%, rgba(235, 248, 253, 0.68) 45.71%, rgba(255, 255, 255, 0.82) 64.54%, rgba(253, 241, 211, 0.66) 100%, rgba(253, 241, 212, 0.66) 100%);
  box-shadow: 6px 6px 6px 0 rgba(142, 149, 160, 0.50), -6px -6px 20.2px 0 #FFF;
  backdrop-filter: blur(2px);
  width: 88%;
  height: 408px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.lets-build-container h1{
font-size: 60px;
  font-family: 'gilroy-medium', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 48px;

}

.footer{
  background-color: #000000;
  flex-direction: column;
  /* justify-content: ; */
    border-radius: 30px 30px 0 0 ;

}
.footer-wraper{
width: 88%;
display: flex;
justify-content: space-between;
/* border: 1px solid red; */
margin: 60px 0 30px 0;

}
.footer-box{
  /* width: 20%; */
  /* border: 1px solid red; */
  padding: 30px ;

}
.footer-box-1{
  /* border: 1px solid red; */
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

 .footer-links-group{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    /* border: 1px solid red; */
  }

.f-tntlogo{
  width: 212px;
}
.footer-box p{
  color: #fff;
  opacity: 60%;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;

}
.logo-wraper{
  display: flex;
  gap: 16px;
}
.logo-wraper img{
  height: 20px
}

.footer-box ul{
  /* color: #fff; */
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-box li a{
  text-decoration: none;
  color: #fff;
  opacity: 60%;
  font-size: 15px;

}
.footer-box ul li:first-child a{
  opacity: 100%;
  font-family: 'gilroy-medium', sans-serif;

}
.copyright-text{
  color: #fff;
  text-align: center;
  font-size: 15px;
  opacity: 60%;
  margin: 30px;
  /* border: 1px solid red; */
}













/* work page css start here */

