
.main{

    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red;  */

}
.wraper-container{
  margin-top: -10%;
    width: 100%;
    /* height: 100vh; */
      border: 1px solid red;

    

}
.lv-hero{
  height: 100%;
        border: 1px solid red;

  width: 100vh;
}