.l-hero{
    border: 1px solid red;
}


.main{

    display: flex;
    flex-direction: column;
    width: 100%;

    


}
.hero {
  max-width: 100%;
  width:80%;
  margin: 0 auto;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;


}
.on-mobile{
  display: none;
}
.hero-title {
    font-family: 'gilroy-bold', sans-serif;
  font-size: 90px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1rem;
  letter-spacing: -6px;
  
}

.sub-line {
  font-family: 'gilroy-bold', sans-serif;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.bold-text {
    font-family: 'gilroy-bold', sans-serif;

  
}

.fancy-text {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  font-size: 90px;
  font-weight: normal;
  margin-left: 30px;
}

.features {

  display: flex;
  /* flex-direction: column; */
  gap: 6rem;
  font-weight: 200;
  font-size: 25px;
  margin: 4rem 0;
}

.features p{
font-family: 'gilroy-medium', sans-serif;
text-align: center;
font-weight: 400;
font-size: 20px;
padding: 18px;
/* border:1px solid red; */

background: rgba(255, 255, 255, 0.02); /* translucent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(22px); /* Safari */
  /* border: .5px solid rgba(255, 255, 255, 0.3); */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50px;

}